<mat-nav-list>
  <a mat-list-item>
    <div class="item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>      
  </a>
  <a mat-list-item>
    <div class="item is-active">
      <mat-icon>group</mat-icon>
      <span>Alumnos</span>
    </div>      
  </a>
  <a mat-list-item>
    <div class="item">
      <mat-icon>schedule</mat-icon>
      <span>Clases</span>
    </div>      
  </a>    
  <a mat-list-item>
    <div class="item">
      <mat-icon>description</mat-icon>
      <span>Cursos</span>
    </div>      
  </a>
</mat-nav-list>

