<h1 mat-dialog-title>
  {{ title }}
</h1>

<div mat-dialog-content>
  <!-- Contenido... -->

  <form [formGroup]="classForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
          <mat-error>
            {{ classForm.get("name")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Día</mat-label>
          <mat-select formControlName="day">
            <mat-option *ngFor="let day of businessDays" [value]="day">{{ day }}</mat-option>
          </mat-select>
          <!-- <input formControlName="day" matInput /> -->
          <mat-error>
            {{ classForm.get("day")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Hora de inicio</mat-label>
          <input
            type="time"
            formControlName="startTime"
            matInput
          >
          <!-- <ngx-material-timepicker
            #startTimePicker
            [enableKeyboardInput]="true"
            style="z-index: 99;"
          ></ngx-material-timepicker> -->
          <mat-error>
            {{ classForm.get("startTime")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Hora de término</mat-label>
          <input
            type="time"
            formControlName="endTime"
            matInput
          >          
          <mat-error>
            {{ classForm.get("endTime")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSubmit()" mat-button>Guardar</button>
</div>
