<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" class="text-center">
      <div>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-error>
            {{ loginForm.get("email")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error>
            {{ loginForm.get("password")?.errors | formErrorHandler }}
          </mat-error>
        </mat-form-field>
      </div>
      <button
        (click)="login()"
        mat-raised-button
        style="
          background-color: #4caf50;
          color: #fff;
          font-size: 1.1rem;
          margin-top: 0.5rem;
        "
      >
        Iniciar sesión
      </button>
    </form>
  </mat-card-content>
</mat-card>


